SPOTIFY_CLIENT_ID=6f33ac4a2bf640df966cb4e8a50da33e
SPOTIFY_CLIENT_SECRET=f30893822a6d4f9694bc5e6b276fbfdf
REDIRECT_URI=http://127.0.0.1:3001/auth/callback
PORT=3001
SESSION_SECRET=spotify-overlay-super-secret-key-123
